.studentAttendence-fulldiv{
    width: 100%;
    padding-top: 2rem;
    padding: 1rem;
    box-sizing: border-box;
}
.studentAttendence-topdiv{
    display: flex;
    background-color: #eeeeee;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}
.studentAttendence-infodiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 8rem;
    flex: 1;
    
}
.infodiv__attribute-roll,.infodiv__attribute-name{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.infodiv__attribute-name input,.infodiv__attribute-name span,.infodiv__attribute-roll input,.infodiv__attribute-roll span{
    background-color: transparent;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    box-sizing: border-box;
}
.infodiv__attribute-name input,.infodiv__attribute-roll input{
    border: .1px solid #666;
    border-radius: 5px;
    background-color: #f8f8f8;
}
.infodiv__attribute-name input:focus,.infodiv__attribute-roll input:focus{
    outline: none;
}
.infodiv__attribute-roll input,.infodiv__attribute-roll span{
    font-size: 1.2rem;
    color: #444;
}
.infodiv__attribute-name input{
    padding: 0;
}
.field-update-icon{
    margin-left: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #666;
}
.icon-roll{
    font-size: 1.2rem;
}
.icon-update{
    color: #6BCB77;
}
.icon-cancle{
    color: #FF6B6B;
}
.student-idspan
{
    font-family: 'Roboto Mono', monospace;
    font-size: .6rem;
    line-height: .5rem;

}
.studentAttendence-infodiv__data{
    display: flex;
}
.studentAttendence-infodiv__data p{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Comfortaa', cursive;
}
.studentAttendence-infodiv__data p:nth-child(2){
    margin-left: 10px;
}
.studentAttendence-rightdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.studentAttendence-attendance__card span{
    font-size: 1rem;
    color: #333;
    font-family: 'Roboto Condensed', sans-serif;
}
.studentAttendence-attendance__card{
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
}
@media only screen and (max-width: 600px) {
    .studentAttendence-fulldiv{
        padding: .8rem;
        padding-top: 2rem;
    }
    .infodiv__attribute-name input,.infodiv__attribute-roll input{
        width: 60%;
    }
}