.navbar-fulldiv{
    width: 100%;
    background-color: #cacacc;
    padding: .8rem 2rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-leftdiv{
    display: flex;
    flex: 1;
    align-items: center;
}
.navbar-logodiv span{
    font-size: 2rem;
    margin: 0;
    padding: 0;
    font-family: 'Gugi', cursive;
}
.navbar-links{
    margin-left: 2rem;
}
.navlink{
    color: #212121;
    margin-right: 1rem;
    text-decoration: none;
    font-weight: 600;
}
.nav-active{
    color: #0D7377;
}
.navlink-login{
    background-color: #0D7377;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 2px 2px 5px 0 #555;
}
.navlink-login:hover{
    box-shadow: none;
}
.rightdiv-logout{
    display: flex;
    align-items: center;
}
.logout{
    color: #fff;
    margin-left: 5px;
    font-family: 'Gugi', cursive;
    background-color: #FD5D5D;
    padding: 5px 10px;
    box-sizing: border-box;
}
@media only screen and (max-width: 600px) {
    .navbar-fulldiv{
        padding: .8rem 10px;
    }
    .navbar-links{
        margin-left: 1rem;
    }
    .navlink{
        font-weight: 400;
        font-size: .9rem;
        margin-right: .8rem;
    }
    .rightdiv-logout span{
        font-size: .7rem;
    }
}